<h2>Hello <%= @student.first_name %>!</h2>
<p>This is an automated message. An instructor has responded to your latest prework submission or comment to <%= @comment.assignment.title %> with:
  <pre>
    <%= @comment.text %>
  </pre>
</p>
<p>Cheers,<br>
  Actualize Team
</p>
