<div class="row row-margin">
  <div class="col-md-2">
      <div class="white">
        <%= link_to @assignment.assignment_version.description, assignment_version_path %><br>
        &#8627; <%= link_to "#{@assignment.title[0..17]}...", assignment_show_demo_path(@assignment) %><br>
      </div>
    </div>
  <%= render 'form' %>
</div>