<div class="row message">
  <div class="col-md-12">
    <h1>Prework Exercises</h1>
    <span class="prework-important">
    <p>Prework is mandatory. If you do not complete the prework, it can jeopardize your ability to start the in person class.</p>
    <p>If you do not think that you will be able to complete prework on time, please reach out to your prework instructor for guidance.</p>
    </span>
  </div>

</div>
<div class="row">
  <div class="col-md-12">

    <div class="white">
      <tabset justified="true">
        <% @assignments.select(:week).distinct.count.times do |index| %>
          <%= render 'table', week: index + 1 %>
        <% end %> 
      </tabset>
    </div>
  </div>

</div>


