<div class="row">
  <div class="col-md-3"><h2 class="curriculum-heading">Prework</h2></div>
</div>
<div class="row message">
  <div class="col-md-7">
    <p><span class="prework-important">Prework is mandatory. If you do not complete the prework, it can jeopardize your ability to start the in person class. If you do not think that you will be able to complete prework on time please reach out to your prework instructor for guidance.
    <p>View assignments below.</p>
  </div>

</div>
<div class="row">
  <div class="col-md-12">

    <div class="white">
      <tabset justified="true">
        <% @assignments.select(:week).distinct.count.times do |index| %>
          <%= render 'table', week: index + 1 %>
        <% end %> 
      </tabset>
    </div>
  </div>

</div>


