<div class="row row-margin">
  <div class="col-md-2">
      <div class="white">
        <%= link_to @assignment_version.description, assignment_version_path(@assignment_version) %>
      </div>
    </div>
  <%= render 'form' %>
</div>