<div class="full-image" style="background: url(<%= asset_path('background.jpg') %>) no-repeat center center fixed; background-size: cover;">
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="welcome-message">
      <h1>Actualize Student Portal</h1>
      <p>Welcome to Actualize! I created this course because I am passionate about computer science and helping others learn through proper guidance and hands-on education. My goal as the Founder of Actualize is to help you not only learn invaluable new skills, but to help you launch into an exciting new career path. According to the Bureau of Labor Statistics, the demand for developers is at an all-time high, with over 140,000 new positions in CS being added every year and only 40,000 new college graduates available to fill these roles.</p>
      <p>Being able to code will give you the power to produce technologies that can help make processes easier and may even save lives. We're excited to help you produce websites and applications that will encapsulate your passions. Thank you for choosing Actualize!</p>
      <br>
      <p>Warm Regards,<br>
      Jay Wengrow</p>
    </div>
  </div>
</div>
