<div class="row no-gutters">
  <div class="col-md-7">


  </div>
  <div class="col-md-5">
    <div class="img-responsive-parent">
      <%= image_tag "welcome-design.png", class: "img-responsive" %>    
    </div>
  </div>
</div>