body {
  background: #D3CFC8;
  font-family: 'Cambay', sans-serif;
}
/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-dismissible {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 7000;
  margin: 0% 5% 0% 5%;
}

.warning {
  color: red;
}


/////////////////// NavBar //////////////////////////


.navbar {
  margin-bottom: 0;
}

.navbar-default {
  background-color: #16A496;
  border-color: #E7E7E7;
}

.navbar-default .navbar-brand {
    color: #f8f8ff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a {
    color: #f8f8ff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #AEAEAE;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #FFFFFF;
}
////////////////// Welcome Page ////////////////////

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.img-responsive-parent {
  margin: 0 -60px;
}

.welcome-message {
  padding: 20px 75px 0px 0px;
  font-size: 140%;
}

.contact-heading {
  background: #16A496;
  color: #FFFFFF;
  padding: 20px;
  font-style: italic;
  margin: 50px 0px 0px -15px;
}

.contact-table {
  padding-right: 75px;
  font-size: 140%;
}

.text-align-right {
  text-align: right;
  padding: 10px 100px;
}


////////////////////// Calendar ////////////////////////////

h2.curriculum-heading {
  background: #F05353;
  padding: 20px;
  color: #FFFFFF;
  font-style: italic;
  font-size: 300%;
  margin: 120px 0px 30px 0px;

}

p.course-subtext {
  color: #16A496;
  font-size: 200%;
  font-style: italic;
  padding: 10px 0px 20px 0px;
}

p.subject-description {
  color: #16A496;
  font-size: 140%;
}

span.subject-title {
  color: #F05353;
  font-weight: bold;
}

p.capstone_blog {
  font-size: 120%;
}

.calendar {
  background: #FFFFFF;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 2px solid #000000;
}

.fc-unthemed .fc-today {
  background-color: #AFDFE0;
}

.cohort-details-calendar {
  background: #FFFFFF;
  border: #000000 2px solid;
  border-radius: 5px;
  list-style-type: none;
  padding: 5px;
  font-size: 20px;
}
///////////////////// Students /////////////////////////////

.row-margin {
  margin-top: 50px;
}

textarea#student_details {
  height: 300px;
}

table.student {
  background: #AFDFE0;
}

.modal-body {
  color: red;
}

.admin-select {
  margin: 20px 0px 20px 0px;
}


//////////////////////// Prework /////////////////////////////

.prework-important {
  font-weight: bold;
  font-size: 140%;
}

.white{
  background: #FFFFFF;
  padding: 20px 10px 10px 10px;
  border-radius: 5px;
  border: 2px solid #000000;
  margin: 20px 0px 0px 0px;
}

textarea.submission-box {
  height: 600px;
  margin-bottom: 5px;
}


.submitted-date {
  margin: -3px 0 15px 0;
  color: #16A496;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

.history-box {
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  margin: 0px;
  padding: 15px 5px 5px 5px;
}

textarea.comment-write {
  height: 200px;
  margin: 5px 0px 5px 0px;
}

.author-info {
  text-align: right;
}

.not-instructor-class {
  color: green;
}

.instructor-class {
  color: #FF66CC;
}

.comments {
  margin-top: 10px;
}

textarea#assignment_question {
  height: 500px;
}

pre {
    white-space: pre-line;
}

.tab-heading {
  padding:10px 5px 10px 5px;
}

.uploaded-files {
  border: 1px solid #000000;
  margin: 20px 0px 5px 0px;
  padding: 5px;
  border-radius: 5px;
}

.tab-box {
  margin: 10px 0px 10px 0px;
}

.current-assignment a {
  color: #F05353;
}

.viewed {
  color: green;
}

.un-viewed {
  color: red;
}

.viewed-key {
  background: #DFF0D8;
}

.un-viewed-key {
  background: #F2DEDE;
}