
<div class="row">
  <div class="col-md-3"><h2 class="curriculum-heading">Curriculum</h2></div>
</div>


<div class="row">
  <div class="col-md-8">
    <p class="course-subtext">This course will be focusing on the following material:</p>
    <div class="col-md-6">
      <p class="subject-description"><span class="subject-title">Ruby</span> - is a dynamic, object-oriented, general-purpose programming language.</p>
      <p class="subject-description"><span class="subject-title">Rails</span> - is an open source web application framework written in Ruby.</p>
      <p class="subject-description"><span class="subject-title">HTML</span> - is the standard markup language used to create Web pages.</p>
      <p class="subject-description"><span class="subject-title">CSS</span> - is a stylesheet language used for describing the look and formatting of a document written in a markup language such as HTML.</p>
    </div>
    <div class="col-md-6">
      <p class="subject-description"><span class="subject-title">SQL</span> - is a query language used for accessing and modifying information in a database.</p>
      <p class="subject-description"><span class="subject-title">Git</span> - is a free and open source distributed version control system designed to handle everything from small to very large projects with speed and efficiency.</p>
      <p class="subject-description"><span class="subject-title">JavaScript</span> - is an object-oriented computer programming language commonly used to create interactive effects within web browsers.</p>
      <p class="subject-description"><span class="subject-title">AngularJS</span> - is an open-source JavaScript web application framework maintained by Google and others.</p>
    </div>
  </div>
  <div class="col-md-4">
    <h3>CAPSTONE:</h3>
    <p class="capstone_blog">Each student will be responsible for building a capstone project that utilizes everything you learn during the course. Your capstone project will be debuted at our Student Showcase where we invite employers, members of the press, local CTOs/CEOs, recruiters, and prospective students. This is your chance to shine!</p>

    <h3>BLOG:</h3>
    <p class="capstone_blog">Each student will be responsible for building a capstone project that utilizes everything you learn during the course. Your capstone project will be debuted at our Student Showcase where we invite employers, members of the press, local CTOs/CEOs, recruiters, and prospective students. This is your chance to shine!</p>


  </div>
</div>

<div class="row">
  <div class="col-md-3"><h2 class="curriculum-heading">Schedule</h2></div>
</div>


<div ng-controller="calendarCtrl">
  {{ alertMessage }}
  <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div> 
</div>



