<div class="row row-margin">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="white">
      <div class="row">
        <div class="col-md-12">
          <h2>Assignment Versions</h2>
          <table class="table">
              <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Created At</th>
                <th>Updated At</th>
              </tr>
            <% @assignment_versions.each do |assignment_version| %>
              <tr>
                <td><%= assignment_version.id %></td>
                <td><%= link_to assignment_version.description, assignment_version_path(assignment_version) %></td>
                <td><%= assignment_version.created_at %></td>
                <td><%= assignment_version.updated_at %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
</div>